body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  color: #333;
}

/* HEADER */
.header {
  background: #072a3f;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 90px;
  max-height: 100%;
}

.nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

/* CONTENIDO */
.contenido {
  padding: 40px;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #072a3f;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .logo img {
    height: 70px;
  }
}
